

.salwat {
  margin: 20px 0 20px 0 ;
  display: flex;
  justify-content: center;
  direction: ltr;
  &__item {

  color: var(--main-color);
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: small;
}


  &__row {
    &__cell{
      width: 75px;
      height: 30px;
      font-size:15px;
      &--odd-first {
        background-color: #92d2c8
      }
      &--even-first{
        background-color: #cee1de
      }
      &--odd-second {
        background-color: #b1dfd8
      }
      &--even-second {
        background-color: #dceae7
      }

    } 
  }

  &__selected-first{
    width: 90px;
  }
  &__selected-second{
    width: 90px;
    // height: 45px;
    // font-size: small;
  
  }
  
}
    
    
    


