<!-- Salawat -->
<section>
  <div class="container" >
    <div class="salwat" >
      <div class="salwat__item"  *ngFor="let sala of this.salawatAPI |  keyvalue: originalOrder let i = index" >
 
        <!-- salawat names row -->
        <div class="salwat__row" >
          <div class="salwat__row__cell" [ngClass]="[i%2 === 0 ? 'salwat__row__cell--odd-first' : 'salwat__row__cell--even-first', buff_Sala === sala?.key ? 'salwat__selected-first' : '' ]" >
            {{sala.key}}
          </div>
        </div>
        <!-- salawat time row -->
        <div class="salwat__row__cell"  [ngClass]="[i%2 === 0 ? 'salwat__row__cell--odd-second' : 'salwat__row__cell--even-second' ,buff_Sala === sala?.key ? 'salwat__selected-second' : '' ]" >
          {{sala.value}}    
        </div>
       
        
    
      </div>
    </div>
  </div>  
</section>

<!-- <br> {{ buff_Sala === sala?.key ?remaning_total_time: "" }} -->

