<section class="about">
  <div class="container">
    <div class="about__body">
      <!-- Start Item -->
      <div class="about__item">
        <div class="about__image">
          <img class="about__img" src="assets/images/team/omar.jpg" alt="Omar"/>
        </div>
        <div class="about__details">
          <h3 class="about__name">Omar Hassan</h3>
          <h5 class="about__job">Front-End Developer</h5>
          <div class="about__social">
            <a class="about__link" href="https://www.facebook.com/3omar.7asan" target="_blank">
              <img class="about__icon" src="assets/icons/facebook.svg" alt="facebook"/>
            </a>
            <a class="about__link" href="https://www.linkedin.com/in/omariohassan/ " target="_blank">
              <img class="about__icon" src="assets/icons/linkedin.svg" alt="linkedin"/>
            </a>
          </div>
        </div>
      </div>
      <!-- End Item -->

      <!-- Start Item -->
      <div class="about__item">
        <div class="about__image">
          <img class="about__img" src="assets/images/team/badr.jpg" alt="Badr"/>
        </div>
        <div class="about__details">
          <h3 class="about__name">Ahmed Badr</h3>
          <h5 class="about__job">Front-End Developer</h5>
          <div class="about__social">
            <a class="about__link" href="https://www.facebook.com/AhmedBFront/" target="_blank">
              <img class="about__icon" src="assets/icons/facebook.svg" alt="facebook"/>
            </a>
            <a class="about__link" href="https://www.linkedin.com/in/ahmedbfront/" target="_blank">
              <img class="about__icon" src="assets/icons/linkedin.svg" alt="linkedin"/>
            </a>
          </div>
        </div>
      </div>
      <!-- End Item -->

      <!-- Start Item -->
      <div class="about__item">
        <div class="about__image">
          <img class="about__img" src="assets/images/team/sokar.jpg" alt="Sokar"/>
        </div>
        <div class="about__details">
          <h3 class="about__name">Ahmed Sokar</h3>
          <h5 class="about__job">Front-End Developer</h5>
          <div class="about__social">
            <a class="about__link" href="https://www.facebook.com/ahmed.elhoseny.9003" target="_blank">
              <img class="about__icon" src="assets/icons/facebook.svg" alt="facebook"/>
            </a>
            <a class="about__link" href="https://www.linkedin.com/in/ahmed-sokar-836a54150/" target="_blank">
              <img class="about__icon" src="assets/icons/linkedin.svg" alt="linkedin"/>
            </a>
          </div>
        </div>
      </div>
      <!-- End Item -->

      <!-- Start Item -->
      <div class="about__item">
        <div class="about__image">
          <img class="about__img" src="assets/images/team/masoud.jpg" alt="Masoud"/>
        </div>
        <div class="about__details">
          <h3 class="about__name">Mohamed Masoud</h3>
          <h5 class="about__job">UI-UX Designer</h5>
          <div class="about__social">
            <a class="about__link" href="https://www.facebook.com/mhmdmas3od" target="_blank">
              <img class="about__icon" src="assets/icons/facebook.svg" alt="facebook"/>
            </a>
            <a class="about__link" href="https://www.behance.net/MASOUDY" target="_blank">
              <img class="about__icon" src="assets/icons/behance.svg" alt="behance"/>
            </a>
          </div>
        </div>
      </div>
      <!-- End Item -->

      <!-- Start Item -->
      <div class="about__item">
        <div class="about__image">
          <img class="about__img" src="assets/images/team/rawy.jpg" alt="Rawy"/>
        </div>
        <div class="about__details">
          <h3 class="about__name">Ahmed Rawy</h3>
          <h5 class="about__job">Front-End Developer</h5>
          <div class="about__social">
            <a class="about__link" href="https://www.facebook.com/profile.php?id=100072584280533" target="_blank">
              <img class="about__icon" src="assets/icons/facebook.svg" alt="facebook"/>
            </a>
            <a class="about__link" href="https://www.linkedin.com/in/ahmed-elrawy-86b88415a/" target="_blank">
              <img class="about__icon" src="assets/icons/linkedin.svg" alt="linkedin"/>
            </a>
          </div>
        </div>
      </div>
      <!-- End Item -->

      <!-- Start Item -->
      <div class="about__item">
        <div class="about__image">
          <img class="about__img" src="assets/images/team/aid.jpg" alt="Hussien"/>
        </div>
        <div class="about__details">
          <h3 class="about__name">Hussien Aid</h3>
          <h5 class="about__job">Front-End Developer</h5>
          <div class="about__social">
            <a class="about__link" href="https://www.facebook.com/shs01002596951" target="_blank">
              <img class="about__icon" src="assets/icons/facebook.svg" alt="facebook"/>
            </a>
            <a class="about__link" href="https://www.linkedin.com/in/hussien-aid-73a85012a/" target="_blank">
              <img class="about__icon" src="assets/icons/linkedin.svg" alt="linkedin"/>
            </a>
          </div>
        </div>
      </div>
      <!-- End Item -->

      <!-- Start Item -->
      <div class="about__item">
        <div class="about__image">
          <img class="about__img" src="assets/images/team/elgamal.png" alt="Hossam"/>
        </div>
        <div class="about__details">
          <h3 class="about__name">Hossam El Gamal</h3>
          <h5 class="about__job">Front-End Developer</h5>
          <div class="about__social">
            <a class="about__link" href="https://www.facebook.com/hossam.Elgamal13" target="_blank">
              <img class="about__icon" src="assets/icons/facebook.svg" alt="facebook"/>
            </a>
            <a class="about__link" href="https://www.linkedin.com/in/hossam-elgamal-0bb1a2169/" target="_blank">
              <img class="about__icon" src="assets/icons/linkedin.svg" alt="linkedin"/>
            </a>
          </div>
        </div>
      </div>
      <!-- End Item -->
    </div>
  </div>
</section>