.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
router-outlet {
  display: none;
}
.full-height {
  height: 100%;
}
.mat-form-field-wrapper {
  margin-bottom: -15px;
}
.hide {
  opacity: 0;
  visibility: hidden;
}
// ---------------------        2 - Form Page          ---------------------

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  .form-container {
    background: #ffffff;
    display: grid;
    padding: 30px;
    border-radius: 5px;
    width: 500px;
    font-size: 18px;
    .title {
      color: var(--red);
      text-align: center;
    }
    .mat-raised-button:not(:disabled) {
      background: var(--red);
    }
  }
}

// ---------------------          3 - Table            ---------------------
.teble-responsive {
  overflow-x: auto;
  border-radius: 10px;
  max-width: 90vw;
  margin: 0 auto;
  table {
    text-transform: capitalize;
    text-align: center;
    border-spacing: 0;
    width: 100%;
    thead {
      background: var(--black-light);
      color: #fff;
      th {
        white-space: nowrap;
        padding: 20px;
      }
    }
    tbody {
      tr {
        background: #fff;
        &:nth-child(odd) {
          background: var(--gray-med);
        }
        td {
          padding: 20px 15px;
          &.long {
            min-width: 300px;
          }
        }
      }
    }
  }
}

// ---------------------        3 - CKEditor           ---------------------
.ck-wrapper {
  margin-bottom: 10px;
  max-width: 440px;
  mat-label {
    display: block;
    background: var(--black-light);
    padding: 10px;
    color: #fff;
    border-radius: 8px 8px 0 0;
  }
  > code {
    background: var(--black-light);
    display: block;
    color: #fff;
    margin: 10px 0 0;
    border-radius: 5px;
    padding: 16px;
    font-size: 16px;
  }
}
