<div class="form">
  <form [formGroup]="addQuestionForm">
    <div class="form-container">
      <h2 class="title">Questions Form</h2>
      <!-- Question -->
      <div class="ck-wrapper">
        <mat-label>Question</mat-label>
        <ckeditor [config]="ckconfig" formControlName="question" [editor]="Editor"></ckeditor>
        <code *ngIf="addQuestionForm.get('question').value" [innerHtml]="addQuestionForm.get('question').value"></code>
      </div>
      <!-- Level -->
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select formControlName="level">
          <mat-option value="junior">Junior Level</mat-option>
          <mat-option value="mid-senior">Mid Level</mat-option>
          <mat-option value="senior">Senior Level</mat-option>
          <mat-option value="expert">Expert Level</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Resource Link -->
      <mat-form-field appearance="fill">
        <mat-label>Resource Link</mat-label>
        <input matInput formControlName="resource_link" />
      </mat-form-field>
      <!-- Hint -->
      <div class="ck-wrapper">
        <mat-label>Hint</mat-label>
        <ckeditor [config]="ckconfig" formControlName="hint" [editor]="Editor"></ckeditor>
        <code *ngIf="addQuestionForm.get('hint').value" [innerHtml]="addQuestionForm.get('hint').value"></code>
      </div>
      <!-- Answers -->
      <ng-container formArrayName="answers">
        <ng-container *ngFor="let answer of getAnswers().controls; let answerIndex = index">
          <div class="ck-wrapper" [formGroupName]="answerIndex">
            <mat-label>{{ answerIndex === 0 ? 'Correct Answer' : 'Wrong Answer ' + answerIndex }}</mat-label>
            <ckeditor [config]="ckconfig" formControlName="answer" [editor]="Editor"></ckeditor>
            <code *ngIf="answer.value.answer" [innerHtml]="answer.value.answer"></code>
          </div>
        </ng-container>
      </ng-container>
      <button
        (click)="editMode ? onEdit() : onSubmit()"
        mat-raised-button
        color="primary"
        [disabled]="addQuestionForm.invalid"
      >
        {{ editMode ? 'Edit' : 'Submit' }}
      </button>
    </div>
  </form>
</div>
<br />
