body {}

.table {
    color: #428b80;
}

.table__column-odd-first-row {
    background-color: #92d2c8
}

.table__column-even-first-row {
    background-color: #cee1de
}

.table__column-odd-second-row {
    background-color: #b1dfd8
}

.table__column-even-second-row {
    background-color: #dceae7
}