// _placeholder

%displayFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #eee;  //<-- This for testing
  padding: 10px 0px;
  &__info {
    @extend %displayFlex;
  }
  &__logo {
    img {
      max-width: 60%;
      height: auto;
    }
  }
  &__nav {
    @extend %displayFlex;
  }
  &__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  &__li {
    display: inline-block;
    margin-right: 20px;
    font-size: 17px;
    font-weight: bold;
    a {
      text-decoration: none;
      color: var(--main-color);
      &:hover {
        opacity: .7;
        border-bottom: 2px solid var(--main-color);
      }
    }
  }
  &__link {
    border-bottom: 2px solid var(--main-color);
  }
  &__donation-button {
    margin-right: 20px;
      i {
        color: var(--bg-color);
        margin-left: 5px;
      }
  }
  &__buttons {
    button:first-child {
      margin-left: 10px;
    }
  }

}

@media (max-width: 767.98px) {
  .header__info {
    justify-content: center;
  }
}

