<footer class="footer">
  <div class="main-container">
    <div class="container">
      <div class="footer__info">
        <div class="footer__image">
          <img src="./assets/images/footer-images/pray.jpg" alt="image">
        </div>
        <div class="footer__details">
          <h2>عن المشروع</h2>
          <p>
            - لقاء مسلم مشروع خيرى غير ربحى<br>
            - تقدر من خلاله تحضر حلقات تحفيظ القرآن والتجويد والتفسير فى اى وقت يناسبك<br>
            - جميع المحاضرات برعايه نخبه من افضل الشيوخ والقراء<br>
            - محاضرات تناسب جميع الفئات والأعمار
          </p>
          <div class="footer__socials">
            <p>يمكنك متابعتنا عبر</p>
            <div class="footer__social">
              <a class="footer__link" href="#" target="_blank">
                <i class="icons icons--facebook fab fa-facebook-f"></i>
              </a>
              <a class="footer__link" href="#" target="_blank">
                <i class="icons icons--linkedin fab fa-linkedin-in"></i>
              </a>
              <a class="footer__link" href="#" target="_blank">
                <i class="icons icons--youtube fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <span>صدقه جاريه عن القائمين عليه</span>
    </div>
  </div>
</footer>
