name: Build Affected Projects
'on':
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main
      - tst
      - dev
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository (#2)
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm ci

      - name: NX Build
        uses: MansaGroup/nrwl-nx-action@v2.0.4
        with:
          targets: NX-build
